<div class="modal-header">
  <h4 class="modal-title">{{ModalTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body taskboard-modal">
    <div class="container">
      <fieldset class="form-group position-relative has-icon-left">
      
        <input type="text" [formControl]="myForm.controls['title']" formControlName="title" class="form-control" id="todoTitle"
          placeholder="Title" (keydown.enter)="$event.preventDefault()" required #todoTitle>
        <div class="form-control-position control-position-right">
          <i class="ft-edit cursor-pointer"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
      
        <input type="text" [formControl]="myForm.controls['message']" formControlName="message" class="form-control" id="todoMessage"
          placeholder="Description" (keydown.enter)="$event.preventDefault()" required #todoMessage>
        <div class="form-control-position control-position-right">
          <i class="ft-file-text"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
        <select  [formControl]="myForm.controls['createdBy']"  formControlName="createdBy" class="form-control" id="todocreatedBy" (keydown.enter)="$event.preventDefault()" required #todocreatedBy>
          <option [value]="option['_id']" *ngFor="let option of users">{{option['username']}}</option>

      </select>
       
      
      
      
        <div class="form-control-position control-position-right">
        <i class="ft-user"></i>
      </div>
    </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
    
          <input type="datetime-local" [formControl]="myForm.controls['createdOn']" formControlName="createdOn" class="form-control" id="todocreatedOn"
          placeholder="createdOn" (keydown.enter)="$event.preventDefault()" required #todocreatedOn>
        <div class="form-control-position control-position-right">
          <i class="ft-calendar"></i>
        </div>
      </fieldset>

    <fieldset class="form-group position-relative has-icon-left">
    
      <input type="datetime-local" [formControl]="myForm.controls['deadline']" formControlName="deadline" class="form-control" id="tododeadline"
      placeholder="deadline" (keydown.enter)="$event.preventDefault()" required #tododeadline>
    <div class="form-control-position control-position-right">
      <i class="ft-user"></i>
    </div>
  </fieldset>
  <fieldset class="form-group position-relative has-icon-left">
    <select [formControl]="myForm.controls['assignedTo']" formControlName="assignedTo" class="form-control" id="todoassignedTo" (keydown.enter)="$event.preventDefault()" required #todoassignedTo>
      <option [value]="option['_id']" *ngFor="let option of usersto">{{option['username']}}</option>
  </select>  
    
  <div class="form-control-position control-position-right">
    <i class="ft-user"></i>
  </div>
</fieldset>
  <fieldset class="form-group position-relative has-icon-left">
    <select id="todostatus"[formControl]="myForm.controls['status']" required #todostatus>
    <option selected>New</option>
    <option>In-Process</option>  
    <option>Completed</option>  
    <option>Pending</option>
    </select>
  <div class="form-control-position control-position-right">
    <i class="ft-user"></i>
  </div>
</fieldset>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-success btn-save" [disabled]="!myForm.valid">
      Save
    </button>
  </div>
</form>
