<div class="chat-application">
  <div #contentOverlay class="content-overlay" (click)="onContentOverlay()"></div>
  <div [perfectScrollbar] #chatSidebar class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block">
    <div class="chat-sidebar-content">
      <div class="chat-fixed-search p-2">
        <form>
          <div class="position-relative has-icon-left">
            <input class="form-control" id="timesheetinput1" name="employeename" type="text">
            <div class="form-control-position">
              <i class="ft-user"></i>
            </div>
          </div>
        </form>
      </div>
      <app-active-list [users]="userList" [current]="chatWith" (newConv)="onNewConv($event)"></app-active-list>

    </div>
  </div>
  <div class="chat-name p-2 bg-white">
    <div class="media">
      <span class="chat-app-sidebar-toggle ft-align-justify font-large-1 mr-2 d-none d-block d-sm-block d-md-none" (click)="onSidebarToggle()"></span>
      <div class="media-body text-left">
        <img [src]="[activeChatUserImg]" width="37" class="rounded-circle mr-1" alt="avatar" />
        <span>{{ activeChatUser }}</span>
        <i class="ft-more-vertical float-right mt-1"></i>
      </div>
    </div>
  </div>
  <section class="chat-app-window" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="badge badge-dark mb-1">Chat History</div>
    <div class="chats">
      <div class="chats">

        <div class="chat" *ngIf="messageList">
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
              <img src="../../assets/img/generic-avatar.png" class="width-50" alt="avatar" />
            </a>
          </div>
          <div class="chat-body">
                  <app-message *ngFor="let message of messageList" [message]="message"></app-message>

          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="chat-app-form bg-blue-grey bg-lighten-5">
    <form class="chat-app-input row mt-2">
      <fieldset class="form-group position-relative has-icon-left col-lg-10 col-8 m-0 px-3">
        <div class="form-control-position">
          <i class="icon-emoticon-smile"></i>
        </div>
        <input type="text" class="form-control" #messageInput
        name="message" placeholder="Type your message" [(ngModel)]="sendMessage" (keydown.enter)="onSendSubmit(sendMessage);$event.preventDefault()">
        <div class="form-control-position control-position-right">
          <i class="ft-image mr-1"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
        <button  name="send" type="button" class="btn btn-raised btn-primary px-4" (click)="onSendSubmit(sendMessage)">
          <i class="fa fa-paper-plane-o d-block d-xl-inline-block d-lg-none p-0"></i>
          <span class="d-none d-lg-inline-block ml-1">Send</span>
        </button>
      </fieldset>
    </form>
  </section>
</div>

  
  
<audio id="notifSound"><source src="../../app/chat/assets/audio/notification.mp3" type="audio/mpeg"></audio>
  <audio id="msgSound" ><source src="../../app/chat/assets/audio/notification.mp3" type="audio/mpeg">
  
  </audio>