<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Projects</div>
    </div>
  </div>
  <div class="row text-left match-height">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Project Info</h4>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Project Info</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="projectinput1">Description</label>
                      
                      <textarea [(ngModel)]="description"  type="text" id="projectinput1" class="form-control" name="fname"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">Date start</label>
                      <input  [(ngModel)]="date_debut" type="date" id="projectinput3" class="form-control" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Date end</label>
                      <input [(ngModel)]="date_fin" type="date" id="projectinput4" class="form-control" name="phone">
                    </div>
                  </div>
                </div>

             
                <div class="form-group">
                  <label for="companyName">Type</label>
                  <input  [(ngModel)]="type" type="text" id="companyName" class="form-control" name="company">
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput5">Staus</label>
                      <select  [(ngModel)]="status" id="projectinput5" name="interested" class="form-control">
                        <option value="0" selected="" disabled="">waiting</option>
                        <option value="2">In progress</option>
                        <option value="3">finish</option>
                        <option value="4">suspended</option>
                        
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label  for="projectinput6">Client</label>
                      <select  [(ngModel)]="client" id="projectinput6" name="Client" class="form-control">
                          <option [value]="option['_id']" *ngFor="let option of clients">{{option['nom']}} {{option['prenom']}}</option>

                      </select>
                    </div>
                  </div>
                </div>

                

                <div class="form-group">
                  <label for="projectinput8">Remarque</label>
                  <textarea [(ngModel)]="remarque"  id="projectinput8" rows="5" class="form-control" name="comment"></textarea>
                </div>
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" (click)="onSubmit()" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->



<div class="row text-left">
  <div class="col-12">
    <div class="content-header">Projects</div>
  </div>
</div>

<!--built-in column filter types Starts-->
<section id="filter">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="table-responsive">
              <ng2-smart-table [settings]="settings" [source]="projects" 
              ></ng2-smart-table>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--built-in column filter types Ends-->
